.login{
    width: 100%;
    height: 100vh;
    align-items: center;
    display: flex;
    background-image: url("https://images.pexels.com/photos/295771/pexels-photo-295771.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    backdrop-filter: blur(5px);
    background-repeat: no-repeat;
    .inner{
        background-color: rgba(255, 255, 255, 0.25);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        margin: auto;
        display: flex;
        flex-direction: column;
        max-width: 1000px;
        align-items: center;
        justify-content: center;
        padding: 100px 100px;
        border-radius: 12px;
        gap: 15px;
        h2{
            color: rgb(14, 81, 14);
            font-weight: 800;
        }
        .input{
            width: 250px;
            background-color: white;
            padding: 10px;
            border-radius: 5px;
            
            input{
                width: 100%;
                border: none;
                outline: none;
            }
        }
        button{
            padding:5px 10px;
            border-radius: 5px;
            border: none;
            background-color: rgb(30, 91, 30);
            color: white;
            cursor: pointer;
        }
        
    }
}
.table{
    background-color: #f4f9ed;
    h1{
        text-align: center;
        color: rgb(14, 81, 14);
    }
    .details{
        display: flex;
        gap: 2px;
        flex-direction: column;
        .heading{
            display: grid;
            grid-template-columns: repeat(8 , 1fr);
            place-items: center;
            background-color: #7ab51b;
        }
        .rows{
            display: grid;
            grid-template-columns: repeat(8 , 1fr);
            place-items: center;
            padding: 5px 0;
            background-color:#b1cfa3;
        }
    }
    .button{
        display: flex;
        justify-content: flex-end;
        gap: 10px;

        button{
            padding:5px 10px;
            border-radius: 5px;
            border: none;
            background-color: rgb(30, 91, 30);
            color: white;
            cursor: pointer;
        }
        button:disabled{
            background-color: #ccc;
        }
    }
}